$primary: #636363;
$secondary: #b8b8b8;
$white: rgb(0, 0, 0);
$gray: rgb(0, 0, 0);
.form__group {
  position: absolute;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 30%;
}

.form__group {
  margin-bottom: 15px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
/* demo */
body {
  padding: 40px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #ffffff;
}

.card-title {
  color: rgba(255, 0, 0, 0.575);
  font-size: larger;
  font-weight: 700;
  font-style: italic;
}

li {
  display: block;
}
.list {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
